/* In your styles.css or variables.css file */

@font-face {
	font-family: "Dancing_Script";
	font-weight: 100 500;
	font-style: normal italic;
	font-display: swap;
	src: url("../assets/fonts/Dancing_Script/DancingScript-VariableFont_wght.woff2")
			format("woff2-variations"),
		url("../assets/fonts/Dancing_Script/DancingScript-VariableFont_wght.woff")
			format("woff-variations"),
		/* Use woff-variations for variable woff */
			url("../assets/fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf")
			format("truetype-variations");
}
@font-face {
	font-family: "Barlow Condensed";
	font-style: normal italic;
	font-display: swap;
	src: url("../assets/fonts/Barlow_Condensed/barlowcondensed-bold-webfont.woff2")
			format("woff2-variations"),
		url("../assets/fonts/Barlow_Condensed/barlowcondensed-bold-webfont.woff")
			format("woff-variations"),
		url("../assets/fonts/Barlow_Condensed/BarlowCondensed-Bold.ttf")
			format("truetype-variations");
}
@keyframes swoop-in {
	100% {
		right: 0;
	}
}
:root {
	--swoop-in: swoop-in;
	/* --- Default Theme (e.g., Light Mode) --- */
	--font-logo: "Dancing_Script", "Montserrat", serif;
	--font-primary: "Inter", sans-serif;
	--font-heading: "Barlow Condensed", "Montserrat", sans-serif;
	--font-code: "Fira Code", monospace;
	--color-background-primary: #fafafa;
	--color-background-secondary: #ffffff;
	--color-background-neutral: #e0e0e0;
	--color-text-primary: #2c2c2c;
	--color-text-secondary: #666666;
	--color-text-heading: #212529;
	--color-accent-primary: #5c859b; /* Vibrant Blue for links, buttons */
	--color-accent-secondary: #6c757d; /* Subtle grey for secondary elements */
	--color-border: #e9ecef; /* Light grey for borders/separators */
	--color-white: #ffffff; /* Utility white */
	--color-black: #000000; /* Utility black */
}

/* --- Dark Theme --- */
.dark-theme {
	--color-background-primary: #212529; /* Deep charcoal/near black */
	--color-background-secondary: #343a40; /* Slightly lighter dark grey for cards */
	--color-text-primary: #e9ecef; /* Light grey for body text */
	--color-text-heading: #ffffff; /* Pure white for headings */
	--color-accent-primary: #61dafb; /* React blue (example for dark mode accent) */
	--color-accent-secondary: #868e96; /* Lighter grey for secondary elements */
	--color-border: #495057; /* Darker grey for borders */
}
