@import "tailwindcss";
@import "./tailwind-custom-utilities.css";

@font-face {
  font-family: "Dancing_Script";
  src: url("/src/assets/fonts/Dancing_Script/DancingScript-VariableFont_wght.woff2") format("woff2-variations");
  font-weight: 100 500;
  font-style: normal italic;
  font-display: swap;
}

@font-face {
  font-family: "Barlow_Condensed";
  src: url("/src/assets/fonts/Barlow_Condensed/BarlowCondensed-VariableFont_wght.woff2") format("woff2-variations");
  font-weight: 100 700;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

a {
  font-weight: 500;
  color: var(--link-color-default);
  text-decoration: inherit;
}
a:hover {
  color: var(--link-color-hover);
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@property --side-bar-width {
  syntax: "<length>";
  initial-value: 320px;
  inherits: false;
}
