@import "tailwindcss";
@import "./tailwind-custom-utilities.css";

@font-face {
  font-family: "Dancing_Script";
  src: url("/src/assets/fonts/Dancing_Script/DancingScript-VariableFont_wght.woff2") format("woff2-variations");
  font-weight: 100 500;
  font-style: normal italic;
  font-display: swap;
}

@font-face {
  font-family: "Barlow_Condensed";
  src: url("/src/assets/fonts/Barlow_Condensed/BarlowCondensed-VariableFont_wght.woff2") format("woff2-variations");
  font-weight: 100 700;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

:root {
  font-family: "Inter", sans-serif;
  --side-bar-width: 320px;
  --nav-height: 3.5rem;
}

a {
  font-weight: 500;
  color: var(--link-color-default);
  text-decoration: inherit;
}
a:hover {
  color: var(--link-color-hover);
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

section {
  border-radius: 20px;
  margin: 2rem auto;
  width: calc(100% - 2.5rem);
}
p {
  @apply mb-4 leading-relaxed;
}
.hero-image::after {
  box-shadow: inset 3px 3px 10px 0 #000000;
  content: "";
  display: block;
  border-radius: 16px;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
#hero-details > p:first-child::first-letter {
  font-size: 3.5rem;
  font-weight: bold;
  color: var(--color-text-primary);
  float: left;
  line-height: 0.8;
  margin-right: 0.15em;
  font-family: var(--font-heading);
}
.hero-details-link {
  @apply flex justify-start items-center gap-2;
}
