@import "tailwindcss";

@layer utilities {
  .bg-neutral {
    background-color: #e0e0e0;
  }
  .bg-primary {
    background-color: #fafafa;
  }
  .bg-secondary {
    background-color: #ffffff;
  }
  .bg-accent {
    background-color: #5c859b;
  }
  .text-neutral {
    color: #666666;
  }
  .text-primary {
    color: #2c2c2c;
  }
  .text-secondary {
    color: #666666;
  }
  .text-heading {
    color: #212529;
  }
  .text-accent {
    color: #5c859b;
    text-shadow: 0 0 1px rgba(92, 127, 145, 0.6);
  }
  .text-accent-active {
    color: #2c3e50;
  }
  .text-accent-hover {
    color: #3a5968;
  }
  .text-accent-secondary {
    color: #6c757d;
  }
  .border-primary {
    border-color: #e9ecef;
  }
  .text-link {
    color: #5e5752;
  }
  .text-link-hover {
    color: #3f474a;
  }
  .text-link-active {
    color: #2a2f31;
  }
  .font-primary {
    font-family: "Inter", "sans-serif";
  }
  .font-logo {
    font-family: "Dancing_Script", "Montserrat", "serif";
  }
  .font-heading {
    font-family: "Barlow_Condensed", "Montserrat", "sans-serif";
  }
  .font-code {
    font-family: "Fira Code", "monospace";
  }
  .sidebar {
    width: var(--my-spacing-sidebar);
  }
  .underline-fade::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background-color: rgba(92, 127, 145, 1);
    transition: width 0.4s ease;
  }

  .underline-fade:hover::before {
    width: 100%;
  }

  .underline-fade {
    position: relative;
    display: inline-block;
  }
}
